$bg-card-service: #26d48c;

.services-item,
.services-content {
  background-color: $bg-card-service;
  width: 100%;
  height: 100%;
}

.bg-our-project {
  background-color: $bg-card-service;
  color: white;
  font-size: 40px;
}

.border-white {
  border: 5px solid blue !important;
}
